
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1 ease;
  }
  
  .barra {
    background-color: #000000;
    display: flex;
    padding: 15px;
    width: 50vw;
    height: 10vh;
    border-radius: 70px;
    justify-content: space-around;
    color: rgb(255, 255, 255);
  }
  
  .selections p {
    margin: 0;
    color: rgb(255, 255, 255);
  }
  
  .selections a {
    text-decoration: none;
  }

  img {
    width: 50px;
  }